/* ==============================

    T Y P O G R A P H Y

    ============================= */

    @font-face {
        font-family: 'Futura';
        src: url('fonts/FrutigerLTStd-ExtraBlackCn.otf') format('truetype');
      }

      @font-face {
        font-family: 'Nintendo DS';
        src: url('fonts/Nintendo-DS-BIOS.ttf') format('truetype');
      }
    